[Unit]
Description=Gunicorn instance to serve quiz
After=network.target

[Service]
User=raphaeluziel
Group=www-data
WorkingDirectory=/home/raphaeluziel/quiz
Environment="PATH=/home/raphaeluziel/quiz/venv/bin"
ExecStart=/home/raphaeluziel/quiz/venv/bin/gunicorn --worker-class eventlet -w 1 --bind unix:quiz.sock wsgi:app  --no-sendfile


[Install]
WantedBy=multi-user.target
