body {
  margin: 20px;
}
h1{
  text-align: center;
}
a{
  text-decoration: underline;
}
.main{
  max-width: 1300px;
  margin: 0 auto;
}
.flex-container{
  display: flex;
}
.error{
  color: red;
  font-size: 1.2em;
}
.form-check{
  margin-left: 20px;
}
.form-check-input{
  width: 18px;
  height: 18px;
}
.form-check-label{
  margin-left: 6px;
  padding: 3px 0;
}
.game-control{
  width: 75%;
  margin-right: 2%;
  padding-right: 2%;
  border-right: 1px solid gray;
}
.student-results{
  width: 20%;
}
.game-questions{
  cursor: pointer;
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.show-game-question{
  padding: 4px 10px;
  border-radius: 4px;
  background-color: #eef;
  white-space: normal;
  overflow: visible;
  height: 100%;
}
.show-result-details{
  cursor: pointer;
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.show-result-details:hover{
  padding: 4px 10px;
  border-radius: 4px;
  background-color: #eef;
  white-space: normal;
  overflow: visible;
  height: 100%;
}
.nav{
  background-color: #eef;
  max-width: 600px;
  margin: 20px auto;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.nav a{
  color: darkred;
  text-decoration: none
  display: block;
}
.nav a:hover{
  background: lightblue;
}
#active-question{
  background-color: #d6f5cb;
  padding: 4px;
  border-radius: 4px;
}
