{% extends "layout.html" %}

{% block title %}
  Game Page
{% endblock %}

{% block body %}

  <h1>{{ game.game_name }}</h1>

  <b>{{ teacher.name }}</b>

  <br>
  <button id="submit_question" class="btn btn-success">SEND Question</button>
  <br><br>
  <p id="message_received">Mess received?  NO!</p>

  <ol id="upcoming_questions">
    {% for question in questions %}
      <li>
        (<em>Question ID: {{ question.question_id }}</em>) <br>
        <div id="question{{ question.id }}" class="question_in_play">
          {{ question.question}} <br>
          A) {{ question.choice_a }} <br>
          B) {{ question.choice_b }} <br>
          C) {{ question.choice_c }} <br>
          D) {{ question.choice_d }} <br>
          Correct Answer: <strong>{{ question.answer }}</strong>
        </div>
      </li>
      <hr>
    {% endfor %}
  </ol>


  <div class="accordion" id="accordionExample">
    {% for question in questions %}
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{ question.question }}
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div id="question{{ question.id }}" class="card-body question_in_play">
              {{ question.question}} <br>
              A) {{ question.choice_a }} <br>
              B) {{ question.choice_b }} <br>
              C) {{ question.choice_c }} <br>
              D) {{ question.choice_d }} <br>
              Correct Answer: <strong>{{ question.answer }}</strong>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- needed to get information into game_control.js -->
  <div id="game_id" hidden>{{ game.game_id }}</div>
  <div id="teacher_id" hidden>{{ teacher.teacher_id }}</div>
  <div id="teacher_username" hidden>{{ teacher.username }}</div>

  <script type="text/javascript" src="/static/game_control.js"></script>

{% endblock %}
