{% extends "layout.html" %}

{% block title %}
  Game Control Page
{% endblock %}

{% block body %}

  <h4>{{ teacher.name }}</h4>
  <h5>Game: {{ game.game_name }}</h5>

  <strong>Question now in play:</strong>
  <p id="active-question">No questions sent yet.</p>

  <button id="submit_question" class="btn btn-block btn-primary">SEND Next Question</button><br>

  <strong>Questions in the game:</strong>
  <ol id="upcoming_questions">
    {% for question in questions %}
      <li>
        <div class="game-questions" id="question{{ question.id }}">
          {{ question.question}} <br>
          A) {{ question.choice_a }} <br>
          B) {{ question.choice_b }} <br>
          C) {{ question.choice_c }} <br>
          D) {{ question.choice_d }} <br>
          Correct Answer: <strong>{{ question.answer }}</strong>
        </div>
      </li>
    {% endfor %}
  </ol>

  <!-- needed to get information into game_control.js -->
  <div id="game_id" hidden>{{ game.game_id }}</div>
  <div id="teacher_id" hidden>{{ teacher.teacher_id }}</div>
  <div id="teacher_username" hidden>{{ teacher.username }}</div>

  <script type="text/javascript" src="/static/game_control.js"></script>

{% endblock %}
