{% extends "layout.html" %}

{% block title %}
  Login/Register
{% endblock %}

{% block body %}
  
  <div class="flex-layout">
    <div>
      <form action="login" method="post">
        <div class="form-group user-form">
          <b>Log in:</b>
          <input class="form-control" name="username" placeholder="username">
          <input class="form-control" name="password" placeholder="password" type="password">
          <button class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
    <div>
      <form action="register" method="post">
        <div class="form-group user-form">
          <b>Register:</b>
          <input class="form-control" name="name" placeholder="Name">
          <input class="form-control" name="username" placeholder="Username">
          <input class="form-control" name="email" placeholder="Email" type="email">
          <input class="form-control" name="password" placeholder="Password" type="password">
          <button class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>

  <p class="error-message">{{ message }}</p>

{% endblock %}
