{% extends "layout.html" %}

{% block title %}
  Teacher Page
{% endblock %}

{% block body %}

  <h1>Welcome, {{ teacher.name }}</h1>

  <hr>
  {% if games %}
    <h4>Choose a game 222:</h4>
    <ul>
        {% for game in games %}
          <li>
            <form class="form-inline" action="{{ url_for('game_control', teacher=teacher.username, game_name=game.game_name) }}" method="post">
              <span><strong>{{ game.game_name }}:&nbsp;&nbsp;</strong></span>
              <button class="btn btn-link" type="submit" name="action" value="play" id="clear_all">[<u>play from beginning</u>]</button>
              <button class="btn btn-link" type="submit" name="action" value="resume">[<u>resume</u>]</button>
              <button class="btn btn-link" type="submit" name="action" value="edit">[<u>edit</u>]</button>
              <button class="btn btn-link" type="submit" name="action" value="delete">[<u>delete</u>]</button>
            </form>
          </li>
       {% endfor %}
    </ul>
  {% else %}
     <p>To begin, you need to create a game first.</p>
  {% endif %}
  <hr>


  {% if questions %}
    <h4>Create a game:</h4>
    <form action="{{ url_for('create_new_game') }}" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="game_name" placeholder="Enter a name for your game">
      </div>
      <div>Select the questions you would like to have in your game:</div>
        {% for question in questions %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="questions" value="{{ question.question_id }}">
            <label class="form-check-label" for="questions">
              {{ question.question }}
              <a href="{{ url_for('edit_question', question_id=question.question_id )}}"> [edit]</a>
            </label>
          </div>
        {% endfor %}
      <br>
      <button type="submit" class="btn btn-primary btn-sm" name="create_game" value="create_game">Create Game</button>
      <button type="submit" class="btn btn-danger btn-sm" name="delete_question" value="delete_question">Delete selected questions</button>
    </form>

  {% else %}
    <p>To create a game, add questions first.</p>
  {% endif %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <p class=flashes>
      {% for category, message in messages %}
        <div class="error">{{ message }}</div>
      {% endfor %}
      </p>
    {% endif %}
  {% endwith %}

  <br>
  <h4>Add a Question:</h4>
  <form action="{{ url_for('add_new_question') }}" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="question" placeholder="Question" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="choice_a" placeholder="Answer Choice A">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="choice_b" placeholder="Answer Choice B">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="choice_c" placeholder="Answer Choice C">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="choice_d" placeholder="Answer Choice D">
    </div>
    Correct Answer:
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="answer" id="inlineRadio1"value="A">
      <label class="form-check-label" for="inlineRadio1">A</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="answer" id="inlineRadio2"value="B">
      <label class="form-check-label" for="inlineRadio2">B</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="answer" id="inlineRadio1"value="C">
      <label class="form-check-label" for="inlineRadio1">C</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="answer" id="inlineRadio2"value="D">
      <label class="form-check-label" for="inlineRadio2">D</label>
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary btn-sm">Add Question</button>
  </form>

  <script type="text/javascript">
    document.getElementById("clear_all").onclick = function(){
      var response = confirm("This will log all students out.");
      if (response == false){
        event.preventDefault()
      }
    }
  </script>

{% endblock %}
